/* color palette: 
    beige: #FDF0D1
    dusty rose: #AC7D88
    plum purple: #85586F
    deep purple: #643843 
*/

html,
body {
    height: 100%;
}

#root,
#wrap,
#main {
    height: 100%;
}

#main {
    padding-bottom: 50px;
}

/********** NAVIGATION BAR **********/

header {
    font-family: "Roboto";
}

/********** ABOUT SECTION **********/
.about {
    margin-top: 80px;
}

/********** SKILLS SECTION **********/

.skills {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 30px 0 30px;
}

img.skillPicture {
    height: 75px;
    width: 75px;
}

/********** PROJECTS SECTION **********/

img.projectPicture {
    object-fit: cover;
}

/********** NO LINK SECTION **********/

#noLink {
    text-align: center;
}

/********** SPACING **********/

.pt-5 {
    padding-top: 5rem !important;
}

/********** TEXT ELEMENTS **********/

h1 {
    display: block;
    font-family: "Lora";
    font-size: 40px;
    margin: 0px;
    padding: 15px;
}

h1.myName {
    display: inline-block;
}

h3 {
    font-family: "Lora";
    font-size: 20px;
    margin: 0px;
    padding: 15px;
}

p {
    font-family: "Roboto";
    font-size: 18px;
    margin: 0px;
    padding: 15px;
}

footer {
    font-family: "Lora";
    text-align: center;
    font-size: 15px;
}