/* color palette: 
    beige: #FDF0D1
    dusty rose: #AC7D88
    plum purple: #85586F
    deep purple: #643843 
*/

html,
body {
    height: 100%;
}

#root,
#wrap,
#main {
    height: 100%;
}

#main {
    padding-bottom: 50px;
}

/********** NAVIGATION BAR **********/

header {
    font-family: "Roboto";
}

/********** ABOUT SECTION **********/
.about {
    margin-top: 80px;
}

/********** SKILLS SECTION **********/

.skills {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 30px 0 30px;
}

img.skillPicture {
    height: 75px;
    width: 75px;
}

/********** PROJECTS SECTION **********/
#mainProject {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img.projectPicture {
    object-fit: cover;
}

img.projectMainPicture {
    width: 300px;
}

/********** PROJECTS PAGES **********/

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 75%;
    justify-content: space-between;
}

.colorContainer {
    background: lightblue;
    border-radius: 25px;
    padding: 20px;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.projectIntro {
    padding-right: 30px;
}

.flex-item {
    margin: 10px;
}

.projectTitle,
.projectSkills {
    text-align: left;
}

.projectSkills {
    display: flex;
}

.projectSkillPicture {
    height: 50px;
    width: 50px;
    margin: 10px;
  }

.projectVid {
    background-color: yellow;
    width: 300px;
    height: 400px;
}

.projectImageGallery {
    justify-content: space-around;
}

.projectImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform .3s;
}

.projectImage:hover {
    transform: scale(1.5);
}

/********** NO LINK PAGE **********/

#noLink {
    text-align: center;
}

/********** SPACING **********/

.pt-5 {
    padding-top: 5rem !important;
}

/********** TEXT ELEMENTS **********/

h1 {
    display: block;
    font-family: "Lora";
    font-size: 40px;
    margin: 0px;
    padding: 15px;
}

h1.myName {
    display: inline-block;
}

h3 {
    font-family: "Lora";
    font-size: 20px;
    margin: 0px;
    padding: 15px;
}

p {
    font-family: "Roboto";
    font-size: 18px;
    margin: 0px;
    padding: 15px;
}

footer {
    font-family: "Lora";
    text-align: center;
    font-size: 15px;
}